[Unit]
Description=A bash Script to manager the shadowsocks-rust for multiport
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
RemainAfterExit=yes
ExecStart=/usr/local/bin/ss-main start
ExecReload=/usr/local/bin/ss-main restart
ExecStop=/usr/local/bin/ss-main stop
KillMode=control-group

[Install]
WantedBy=multi-user.target
